@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Babblesphere</h1>
    <p class="lead">The ultimate place for people looking to make impact in the blogosphere!</p>
    <p><a href="@(Url.MvcAction<NHibernateWorkshop.Controllers.Blogs.Index>())" class="btn btn-primary btn-large">Find blogs &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Featured#1</h2>
        <p>
            TODO: Find a featured author
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Read &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Featured#2</h2>
        <p>TODO: Find a featured author</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Read &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Featured#3</h2>
        <p>TODO: Find a featured author</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Read &raquo;</a></p>
    </div>
</div>